<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1><i class="fab fa-battle-net"></i> Travel App</h1>
        </header>
        <section>
            <article>
                <form action="" id="form">
                    <label for="destination">To:</label>
                    <input type="text" id="destination" name="destination" placeholder="City, State">
                    <label for="country">Country:</label>
                    <input type="text" name="country" id="country" placeholder="For default is United States">
                    <label for="dateStart">Departure:</label>
                    <input type="date" name="" id="dateStart">
                    <label for="dateFinish">Return:</label>
                    <input type="date" name="dateFinish" id="dateFinish">
                    <input type="submit" id="send" value="Send">
                </form>
            </article>
            <div id="resultados">
                
            </div>
        </section>
        <footer id="footer"></footer>
    </div>
    <script>
        //check that service workers are supported
        if('serviceWorker' in navigator){
            //Use the window load event to keep the page load performant
            window.addEventListener('load', ()=>{
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
        
    </script>
    <script src="https://kit.fontawesome.com/08d1435850.js" crossorigin="anonymous"></script>
</body>
</html>